{% extends "base.twig" %}
{% block content %}
    <div class="home-images">
      {#<img src="{{ theme.link }}/assets/source/h.jpg" alt="test">
      <img src="{{ theme.link }}/assets/source/b.jpg" alt="test">
      <img src="{{ theme.link }}/assets/source/j.jpg" alt="test">
      <img src="{{ theme.link }}/assets/source/d.jpg" alt="test">
      <img src="{{ theme.link }}/assets/source/i.jpg" alt="test">
      <img src="{{ theme.link }}/assets/source/c.jpg" alt="test">#}
    </div>
    <section class="menu">
      <ul class="menu-items">
	  {% for i in 0..20 %}
        <li class="menu-item">
			<h2 class="menu-item-title">A Food</h2>
			<span class="menu-item-price">{{random(10)}}</span>
			<p class="menu-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</li>
		{% endfor %}
      </ul>
    </section>
    <script>
    {% include "./js/arrange-images.js" %}
    </script>
{% endblock %}